body {
    background-color:azure;
}

.header {
    position: relative;
  width: 100%;
  max-width: 600px;
  background-color: aquamarine;
}

.header img {
    height:80%;
    width: 220%;
  display: fixed;
  background-color: aqua;

} 

.header h1{
    position: absolute;
  top:30%;
  left:100%;
  transform: translateX(-50%);
  color: aqua;
  font-size: 70px;
  white-space: nowrap;
}

p{
    font-size : 30px;
    text-align:center;
    color:black;
}

.img{
    width: 250px;    
  height: 250px;     
  border-radius: 50%; 
  object-fit: cover;  
  display: block;
  margin: auto; 
}

.h1{
    text-align: center;
    font-size: 50px;
    color:aqua;
}

.image{
      width: 250px;    
  height: 250px;      
  display:fixed;
  margin:20px;
  padding: 10px;  
  top:20%;
  left:auto;
  align:center;
}
